#
# Copyright (c) 2021 Red Hat, Inc.
# This program and the accompanying materials are made
# available under the terms of the Eclipse Public License 2.0
# which is available at https://www.eclipse.org/legal/epl-2.0/
#
# SPDX-License-Identifier: EPL-2.0
#

name: npmjs-publish-next
on:
  push:
    branches: 
      - main

jobs:
  publish:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/setup-node@v1
      with:
        node-version: '16'
        registry-url: 'https://registry.npmjs.org'
        scope: '@eclipse-che'
    - name: Clone source code
      uses: actions/checkout@v2
    - name: Get yarn cache directory path
      id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
    
    - uses: actions/cache@v2
      id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-
    - name: typescript dependencies
      run: |
        yarn
    - name: publish
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      run: |
        yarn
        yarn run build
        SHORT_SHA1=$(git rev-parse --short=7 HEAD)
        CURRENT_VERSION=$(jq -r '.version' package.json)
        NEW_VERSION="${CURRENT_VERSION}-${SHORT_SHA1}"
        sed -i -r -e "s/(\"version\": )(\".*\")/\1\"$NEW_VERSION\"/" package.json
        npm publish --tag next
